<h1>ForgeNet Home Server</hi>
<h1>HomeScreen#index</h1>
<p>Find me in app/views/home_screen/index.html.erb</p>
<nav>
 <ul>
  <li><a href="/movies">Movies</a></li>
  <li>Wish Lists</li>
  <li><a href="/contact">Contact Info</a></li>
  <li>Geek Stuff</li>
  <li>Pictures</li>
 </ul>
</nav>
